.fileInput {
   .input {
      display: none;
   }

   .label {
      padding: 8px 15px;
      display: block;
      width: fit-content;
      background-color: #4faadf;
      align-items: center;
      justify-content: space-evenly;
      border: none;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
   }

   .fileName {
      font-size: 14px;
      font-weight: 500;

      .removeBtn {
         margin-left: 5px;
         cursor: pointer;
      }
   }

   .hint {
      color: #9A9A9A;
      font-size: 14px;
      margin-bottom: 20px;
   }
}