.productPackage {
   border: 1px solid #D2D2D2;
   border-radius: 5px;
   width: fit-content;
   padding: 3px 5px;
   margin: 0px 5px 12px 0;
   cursor: pointer;
   transition: 300ms;

   &.active {
      border: 1px solid #1994DC;
   }


   &:hover {
      border: 1px solid #1994DC;
   }

   &:first-child {
      margin-left: 0;
   }

   &:last-child {
      margin-right: 0;
   }
}