.cont {
    background-color: #F8F8F8;
    width: 100%;
    z-index: 999;
    position: relative;
}

.date {
    display: flex;
}

.row {
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
    align-items: center;
}