.cont {
    background-color: #F8F8F8;
    width: 100%;
    z-index: 999;
    position: relative;
}

.date {
    display: flex;

    .wordTime {
        margin-left: 15px;
    }
}

.row {
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
    align-items: center;
}

.menu {
    .list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;

        .element {
            .link {
                color: #1F3948;
                text-decoration: none;
            }
        }
    }
}