.payment {
   position: relative;
   background: #F8F8F8;
}

.linkBack {
   text-decoration: none;
   color: #4FA9DE;
   transition: 300ms;
   font-weight: 400;
   opacity: 0.8;
   padding-top: 50px;
   width: fit-content !important;

   &:hover {
      text-decoration: underline;
      color: #4FA9DE;
   }
}