.footer {
   font-size: 14px;
   background-color: #F8F8F8;
   padding: 40px 0;

   .title {
      font-size: 14px;
      font-weight: 700;
   }

   .element {
      font-weight: 400;
      list-style: none;
      margin-top: 25px;
   }

   .ul {
      padding: 0;
   }

   .link {
      color: #1F3948;
      text-decoration: none;
      transition: 300ms;

      &:hover {
         text-decoration: underline;
      }
   }

   .about {
      margin-bottom: 25px;
      font-weight: 500;
   }
}