.slider {}

.container {
   position: relative !important;
}

.content {
   overflow: hidden;
}

.row {
   flex-wrap: nowrap !important;
   transition: 300ms;
}

.arrow {
   position: absolute;
   top: 35%;
   cursor: pointer;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   background: #F8F8F8 url(../../images/slider_arrow.svg) no-repeat center center;

   &:hover {
      border: 1px solid #1994DC;
   }

   &.rightArrow {
      right: -50px;
   }

   &.leftArrow {
      left: -50px;
      transform: rotate(180deg);
   }
}

.linkToAll {
   color: #1994DC;
   font-size: 14px;
   position: absolute;
   top: 5px;
   right: 12px;
}

.title {
   font-size: 24px;
   font-weight: 500;
   color: #1F3948;
}