.Basket {
   background: #F8F8F8;
   padding: 40px 0;
}

.Basket__title {
   font-size: 24px;
   margin-bottom: 30px;
}

.Basket__instruction {
   display: block;
   font-size: 14px;
   color: #1994DC;
   text-decoration: none;
   padding: 0 30px;
   margin-top: 20px;
}