@keyframes moveDown {
   from {
      top: 100%;
      opacity: 1;
   }

   to {
      top: -100%;
      opacity: 0;
   }
}

@keyframes showLine {
   from {
      width: 0%;
   }

   to {
      width: 100%;
   }
}


.Catalog {
   padding-top: 30px;
   position: absolute;
   background: #fff;
   width: 100%;
   top: 100%;
   z-index: -1;

   &.entering {
      animation: moveDown 1s forwards;
   }

   &.entered {
      top: 0%;
      opacity: 0;
      display: none;
   }

   &.exiting {
      animation: moveDown 1s reverse;
   }
}

.Catalog__tabs {
   display: flex;
   padding: 0;

   .Catalog__tab {
      cursor: pointer;
      list-style-type: none;
      margin-right: 40px;
      font-size: 14px;
      color: #1994DC;
      font-weight: 700;
      transition: 300ms;

      &.Catalog__tab_active {
         color: #000;
         position: relative;

         &::after {
            content: '';
            height: 2px;
            border-radius: 1px;
            background: #FF416E;
            position: absolute;
            bottom: -5px;
            left: 0;
            left: 50%;
            transform: translate(-50%, 0);
            animation: showLine 1s forwards;
         }
      }
   }
}

.Catalog__tittle {
   font-size: 14px;
   color: #1F3948;
   font-weight: 600;
   padding-top: 20px;
}

.Catalog__menu {
   padding: 0;
}

.Catalog__element {
   list-style-type: none;
}

.Catalog__links {
   opacity: 0.6;
   font-size: 14px;
   color: #1F3948;
   text-decoration: none;
}