@keyframes moveUp {
   from {
      top: 100%;
      transform: translate(0, 0);
   }

   to {
      top: 0;
      transform: translate(0, -100%);
   }
}

@keyframes moveDown {
   from {
      top: 0;
      transform: translate(0, -100%);
   }

   to {
      top: 100%;
      transform: translate(0, 0);
   }
}

@keyframes showLine {
   from {
      width: 0%;
   }

   to {
      width: 100%;
   }
}


.Catalog {
   padding-top: 30px;
   position: absolute;
   background: #fff;
   width: 100%;
   top: 100%;
   z-index: -1;

   &.Catalog_visible {
      animation: moveDown 1s forwards;
   }

   &.Catalog_hidden {
      animation: moveUp 1s forwards;
   }
}

.Catalog__tittle {
   font-size: 14px;
   font-weight: 600;
   padding-top: 20px;
}

.Catalog__menu {
   padding: 0;
}

.Catalog__element {
   list-style-type: none;
}

.Catalog__links {
   opacity: 0.6;
   font-size: 14px;
   text-decoration: none;
}

.Catalog__tab {
   display: flex;
   margin-left: 12px;
}