.basketResult {
   background: #fff;
   border-radius: 12px;
   padding: 30px 30px;
   position: sticky;
   top: 90px;


   &>* {
      margin-bottom: 15px;
   }

   &>*:last-child {
      margin-bottom: 0px;
   }

   .title {
      font-size: 14px;
      font-weight: 700;
   }

   hr {
      opacity: 20%;
   }
}

.line {
   display: flex;
   justify-content: space-between;
   font-size: 14px;

   .lineValue {
      font-weight: 700;
   }

   .lineName {}

   &.resultLine {
      font-size: 24px;
      font-weight: 700;
   }

   &.discountLine {
      .lineValue {
         color: #FF416E;
      }
   }
}

.info {
   font-size: 12px;
   opacity: 60%;
}

.button {
   font-size: 14px;
   width: 100%;
}