.Property {
   font-size: 14px;
   position: relative;
   display: flex;
   margin-bottom: 20px;

   .Property__name {
      opacity: 60%;
      width: fit-content;
      white-space: pre;
   }

   .Property__value {
      width: 45%;
      min-width: 45%;
   }

   .Property__line {
      background: none;
      border-bottom: 2px dotted #C3C3C3;
      width: 100%;
   }
}