.Product__mainImg {
   position: relative;

   img {
      width: 100%;
   }

   .Product__tag {
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
   }
}

.Product__img {
   cursor: pointer;
   width: 100%;
}

.Product__slider {
   margin-top: 20px;

   .Slider__container {
      padding: 0;
   }
}

.Product__actions {
   border: 1px solid #F8F8F8;
   border-radius: 8px;
   padding: 30px 20px;

   .Product__price {
      font-size: 24px;
      font-weight: 700;
   }

   .Product__prePrice {
      font-size: 18px;
      position: relative;

      &:before {
         content: "";
         border-bottom: 2px solid red;
         position: absolute;
         bottom: 50%;
         left: -3%;
         width: 100%;
         height: 10%;
         transform: rotate(-8deg);
      }
   }

   hr {
      border: 1px solid #F8F8F8;
      margin: 20px 0;
   }

   .Product__button {
      text-align: center;
      width: 100%;
   }

   .Product__availability,
   .Product__alert {
      margin-bottom: 20px;

      img {
         margin-right: 10px;
      }
   }

   .Product__alert {
      a {
         text-decoration: none;
         color: #1994DC;
      }
   }
}


.Product__tabs {
   margin-top: 70px;
}

.Product__subtitle {
   font-size: 18px;
}

.Product_paragraph {
   font-size: 14px;
}

.Product__warning {
   list-style-type: none;
   color: #FF416E;
}

.Product__recomends {
   margin-top: 70px;
}

.Product__discount {
   position: relative;
   width: fit-content;
   margin-top: 30px;
   transform: none;
}

.Product__delivery {
   .Property {
      margin-bottom: 8px;
   }

   .Product__link {
      text-decoration: none;
      color: #1994DC;
      font-size: 14px;
   }
}