.product {
   margin-top: 30px;
}

.mainImg {
   position: relative;

   img {
      width: 100%;
   }

   .tag {
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
   }
}

.img {
   cursor: pointer;
   width: 100%;
}

.slider {
   margin-top: 20px;

   &>* {
      padding: 0 !important;
   }
}

.actions {
   border: 1px solid #F8F8F8;
   border-radius: 8px;
   padding: 30px 20px;

   .price {
      font-size: 24px;
      font-weight: 700;
   }

   .prePrice {
      font-size: 18px;
      position: relative;
      margin-left: 15px;

      &:before {
         content: "";
         border-bottom: 2px solid red;
         position: absolute;
         bottom: 50%;
         left: -3%;
         width: 100%;
         height: 10%;
         transform: rotate(-8deg);
      }
   }

   hr {
      border: 1px solid #F8F8F8;
      margin: 20px 0;
   }

   .button {
      text-align: center;
      width: 100%;
   }

   .availability,
   .alert {
      margin-bottom: 20px;

      img {
         margin-right: 10px;
      }
   }

   .alert {
      a {
         text-decoration: none;
         color: #1994DC;
      }
   }
}


.tabs {
   margin-top: 70px;
}

.subtitle {
   font-size: 18px;
}

.paragraph {
   font-size: 14px;
}

.warning {
   list-style-type: none;
   color: #FF416E;
}

.recomends {
   margin-top: 70px;
}

.discount {
   position: relative;
   width: fit-content;
   margin-top: 30px;
   transform: none;
   right: auto !important;
}

.delivery {
   .property {
      margin-bottom: 8px;
   }

   .link {
      text-decoration: none;
      color: #1994DC;
      font-size: 14px;
   }
}

.packages {
   display: flex;
   flex-wrap: wrap;
}